<template name="endpointShow">
  <div class="page lists-show">
    <nav class="js-title-nav">
        <div class="nav-group">
          <a href="#" class="js-menu nav-item"><span class="icon-list-unordered" title="Show menu"></span></a>
        </div>

        <h1 class="js-edit-list title-page"><span class="title-wrapper">{{name}}</span></h1>

    </nav>


    <div class="content-scrollable list-items">
      {{#if rolesReady}}
        {{#with _id}} {{! Establish new data context with only the '_id'
                          field. This way, when the 'incompleteCount' field
                          changes, we don't re-render the list contents }}
          {{#each role this}}
            {{> roleItem}}
          {{else}}
            <div class="wrapper-message">
              <div class="title-message">No roles for this Repose setup</div>
              <div class="subtitle-message">Check to see you have api validator on, api-coverage set to true, and providing outputs for each validator</div>
            </div>
          {{/each}}
        {{/with}}
      {{else}}
          <div class="wrapper-message">
            <div class="title-message">Loading roles...</div>
          </div>
      {{/if}}
    </div>
  </div>
</template>
