<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>API Coverage Demo</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <style>
      svg {
        width: 100%;
      }
    </style>
  </head>
  <body>
    <div id="cluster_content">
    </div>
    <p id="contents">
      <button type="button" id="load-chart" data-loading-text="Refresh Chart" class="btn btn-primary">
        Refresh Chart
      </button>
      <button type="button" id="execute" data-loading-text="Run Tests" class="btn btn-primary">
        Render Results
      </button>
    </p>
    <div id="total_path">
      <table class="table">
        <tr>
          <th>Data</th>
          <th>Total Paths</th>
          <th>Covered Paths</th>
          <th>Percent covered</th>
          <th>Details</th>
        </tr>
        <tr>
          <td>Failed</td>
          <td id="total_failed_paths"></td>
          <td id="covered_failed_paths"></td>
          <td id="percent_failed_paths"></td>
          <td><button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#failedModal">View failed details</button></td>
        </tr>
        <tr>
          <td>Passed</td>
          <td id="total_passed_paths"></td>
          <td id="covered_passed_paths"></td>
          <td id="percent_passed_paths"></td>
          <td><button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#passedModal">View passed details</button></td>
        </tr>
      </table>
    </div>
    <div class="modal fade" id="failedModal" tabindex="-1" role="dialog" aria-labelledby="failedModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="failedModalLabel">Failed Details</h4>
          </div>
          <div class="modal-body" id="failed-details">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="passedModal" tabindex="-1" role="dialog" aria-labelledby="passedModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="passedModalLabel">Passed Details</h4>
          </div>
          <div class="modal-body" id="passed-details">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <script src="http://mdaines.github.io/viz.js/viz.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <script>
      var nodeData = [];
      var failStates = [];
      var childTempNodeList = [];
      var parentTempNodeList = [];
      var visitedPaths = [];
      var happyPaths = [];
      var failedPaths = [];
      var visitedHappyPaths = [];
      var visitedFailedPaths = [];
      var scopeList = [];
      var failTypes = ["METHOD_FAIL", "REQ_TYPE_FAIL", "URL_FAIL"];

      if ( typeof String.prototype.endsWith != 'function' ) {
        String.prototype.endsWith = function( str ) {
          return str.length > 0 && this.substring( this.length - str.length, this.length ) === str;
        }
      };

      if ( typeof String.prototype.startsWith != 'function' ) {
        String.prototype.startsWith = function( str ) {
          return str.length > 0 && this.substring( 0, str.length ) === str;
        }
      };

      if ( typeof String.prototype.lastCharacter != 'function' ) {
        String.prototype.lastCharacter = function() {
          return this.substring( this.length - 1, this.length );
        }
      };

      function inspect(s) {
        return "<pre>" + s.replace(/</g, "&lt;").replace(/>/g, "&gt;").replace(/\"/g, "&quot;") + "</pre>"
      }

      function src(id) {
        return document.getElementById(id).innerHTML;
      }

      function render(id, format) {
        var result;
        try {
          return  Viz(src(id), format);
        } catch(e) {
          return inspect(e.toString());
        }
      }

      function uniqBy(a, key) {
        var seen = {};
        return a.filter(function(item) {
            var k = key(item);
            return seen.hasOwnProperty(k) ? false : (seen[k] = true);
        })
      }

      function getSuccessColor() {
        return 'lightblue'
      }

      function getFailColor() {
        return 'red'
      }

      function getColor(id, scope) {
        if( failTypes.filter(function(t) { return t === nodeData[scope].filter(function(t) { return t.id == id })[0].type}).length > 0) {
          return getFailColor();
        } else {
          return getSuccessColor();
        }
      }

      function addToPath(id, path) {
        if(id.endsWith("U") || id.endsWith("M") || id.endsWith("C") || id.endsWith("R")){
          failedPaths.push(path)
        } else {
          happyPaths.push(path)
        }
      }

      function addToSuccessPath(path){
        happyPaths.push(path)
      }

      function addToSuccessVisitedPath(path){
        visitedHappyPaths.push(path)
      }

      function addToFailPath(path){
        failedPaths.push(path)
      }

      function addToFailVisitedPath(path){
        visitedFailedPaths.push(path)
      }

      function addToVisitedPath(id, path) {
        if(id.endsWith("U") || id.endsWith("M") || id.endsWith("C") || id.endsWith("R")){
          visitedFailedPaths.push(path)
        } else {
          visitedHappyPaths.push(path)
        }
      }

      function traverse(id, path, scope) {
        //start with S0
        var current = nodeData[scope].filter(function(t){ return t.id == id })[0];
        //get all  paths
        var successList = successStates[scope].filter(function(t) { return t.startsWith(id + "->") });
        var failList = failStates[scope].filter(function(t) { return t.startsWith(id + "->") });
        for(var i = 0; i < successList.length; i ++){
          //get specific path
          var text = successList[i];
          //get child nodes
          var childNodeList = nodeData[scope].filter(function(t){ return t.id === successList[i].split("->")[1]});
          for(var j = 0; j < childNodeList.length; j ++ ){
            var childNode = childNodeList[j];
            if(childNode.id === "SA") {
              //end node
              addToSuccessPath(path + "->" + childNode.id)
            } else {
              traverse(childNode.id, path + "->" + childNode.id, scope)
            }
          }
        }          
        for(var i = 0; i < failList.length; i ++){
          //get specific path
          var text = failList[i];
          //get child nodes
          var childNodeList = nodeData[scope].filter(function(t){ return t.id === failList[i].split("->")[1]});
          for(var j = 0; j < childNodeList.length; j ++ ){
            var childNode = childNodeList[j];
            addToFailPath(path + "->" + childNode.id)
          }
        }          
      }

      function traverseVisited(id, path, scope) {
        //start with S0
        var current = nodeData[scope].filter(function(t){ return t.id == id })[0];
        //get all  paths
        var successList = successStates[scope].filter(function(t) { return t.startsWith(id + "->") });
        var failList = failStates[scope].filter(function(t) { return t.startsWith(id + "->") });
        for(var i = 0; i < successList.length; i ++){
          //get specific path
          var text = successList[i];
          //get child nodes
          var childNodeList = nodeData[scope].filter(function(t){ return t.id === successList[i].split("->")[1]});
          for(var j = 0; j < childNodeList.length; j ++ ){
            var childNode = childNodeList[j];
            if(childNode.id === "SA" && childNode.count > 0) {
              //end node
              addToSuccessVisitedPath(path + "->" + childNode.id)
            } else {
              traverseVisited(childNode.id, path + "->" + childNode.id, scope)
            }
          }
        }          
        for(var i = 0; i < failList.length; i ++){
          //get specific path
          var text = failList[i];
          //get child nodes
          var childNodeList = nodeData[scope].filter(function(t){ return t.id === failList[i].split("->")[1]});
          for(var j = 0; j < childNodeList.length; j ++ ){
            var childNode = childNodeList[j];
            if(childNode.count > 0){
              addToFailVisitedPath(path + "->" + childNode.id)}
            }
        }          
      }

      function getTempNode(node, nodeList){
        var tempList = nodeList.filter(function(t) { return t.id === node.id });
        var temp = {};
        if(tempList.length === 0){
          jQuery.extend(temp, node);
          nodeList.push(temp);
        } else {
          temp = tempList[0];
        }
        return temp;
      }

      function colorGraph(id, scope) {
        //get current node in scope
        var current = nodeData[scope].filter(function(t){ return t.id == id })[0];
        var parentTempNode = getTempNode(current, parentTempNodeList);
        //get id
        var ellipse = current.graph.next();
        console.log('current: ',parentTempNode.id, parentTempNode.count)
        if(ellipse.length > 0 && parentTempNode.count > 0) {
          //check its type and color it accordingly
          ellipse.attr('fill', getColor(current.id, scope));
          //get all success states that start with id
          var successList = successStates[scope].filter(function(t) { return t.startsWith(id + "->") });
          //get all fail states that start with id
          var failList = failStates[scope].filter(function(t) { return t.startsWith(id + "->") });
          //get parent node list 
          //iterate through success list
          for(var i = 0; i < successList.length; i ++){
            //get child nodes
            var childNode = nodeData[scope].filter(function(t){ return t.id === successList[i].split("->")[1]})[0];
            var childTempNode = getTempNode(childNode, childTempNodeList);
            console.log('current: ',parentTempNode.id, parentTempNode.count)
            console.log(' --> ', childTempNode.id, childTempNode.count, childNode.id, successList[i])
            var edge = $("#" + scope + "-content title").filter(function(t) { return ($(this).text() === successList[i]) });
            var path = edge.next();
            if(childTempNode.count > 0){
              //get child temp node
              if(parentTempNode.count > childTempNode.count){
                path.attr('stroke', getSuccessColor());
                path.attr('stroke-width', childTempNode.count);
                parentTempNode.count = parentTempNode.count - childTempNode.count;
                childTempNode.count = 0;                                       
              } else if(parentTempNode.count > 0){
                //child node >= current
                path.attr('stroke', getSuccessColor());
                path.attr('stroke-width', parentTempNode.count);
                childTempNode.count = childTempNode.count - parentTempNode.count;
                parentTempNode.count = 0;                                       
              }
              colorGraph(childNode.id, scope);
            }
          }
          //iterate through FAIL list
          for(var i = 0; i < failList.length; i ++){
            //get child nodes
            var childNode = nodeData[scope].filter(function(t){ return t.id === failList[i].split("->")[1]})[0];
            var childTempNode = getTempNode(childNode, childTempNodeList);
            console.log('current: ',parentTempNode.id, parentTempNode.count)
            console.log(' --> ', childTempNode.id, childTempNode.count)
            var edge = $("#" + scope + "-content title").filter(function(t) { return ($(this).text() === failList[i]) });
            var path = edge.next();
            if(childTempNode.count > 0){
              //get child temp node
              if(parentTempNode.count > childTempNode.count){
                path.attr('stroke', getFailColor());
                path.attr('stroke-width', childTempNode.count);
                parentTempNode.count = parentTempNode.count - childTempNode.count;
                childTempNode.count = 0;                                       
                colorGraph(childNode.id, scope);
              } else if(parentTempNode.count > 0){
                //child node >= current
                path.attr('stroke', getFailColor());
                path.attr('stroke-width', parentTempNode.count);
                childTempNode.count = childTempNode.count - parentTempNode.count;
                parentTempNode.count = 0;                                       
                colorGraph(childNode.id, scope);
              }
            }
          }

        }
      }

      var rgb = [96,96,255]
      $(function(){
        $('#load-chart').on('click', function(){
          nodeData = [];
          nodeList = [];
          failStates = [];
          successStates = [];
          childTempNodeList = [];
          parentTempNodeList = [];
          visitedPaths = [];
          happyPaths = [];
          failedPaths = [];
          visitedHappyPaths = [];
          visitedFailedPaths = [];
          scopeList = [];         
          $('#total_passed_paths').html(0);
          $('#covered_passed_paths').html(0);
          $('#percent_passed_paths').html(0);
          $('#total_failed_paths').html(0);
          $('#covered_failed_paths').html(0);
          $('#percent_failed_paths').html(0);
          $('#failed-details').html('');
          $('#passed-details').html(''); 
          $.when( $.ajax( "api/roles" ) ).then(function( data, textStatus, jqXHR ) {
            //result is role list of json
            var that = this;
            that.roleData = data;
            for(var i = 0; i < that.roleData.length; i ++ ){
              var specificRoleData = that.roleData[i];
              (function(specificRoleData){
                $.when($.ajax("api/steps")).then(function(innerData, innerTextStatus, innerJqXhr){
                  //setup nodes and paths here
                  nodeData = innerData['nodes'];
                  failStates = innerData['fail_paths'];
                  successStates = innerData['success_paths'];
                  //for each file, create a render graph
                  $.when($.ajax("api/roles/file?file=" + specificRoleData.file)).then(function(fileData, fileStatus, fileXHR){
                    var div = document.createElement('div');
                    div.id = specificRoleData.role + "-content";
                    if(document.getElementById(specificRoleData.role + "-content") === null){
                      document.getElementById('cluster_content').appendChild(div);
                    }
                    var jsGraphviz = document.createElement('script');
                    jsGraphviz.type = "text/vnd.graphviz";
                    jsGraphviz.id = specificRoleData.role;
                    var first = document.getElementsByTagName('script')[0];
                    if(document.getElementById(specificRoleData.role) === null){
                      first.parentNode.insertBefore(jsGraphviz, first);                    
                      jsGraphviz.type = "text/vnd.graphviz";
                      jsGraphviz.id = specificRoleData.role;
                      jsGraphviz.innerHTML = fileData;
                      $('#' + div.id).append(render(specificRoleData.role, "svg")); //this renders a role          
                    } else {
                      document.getElementById(specificRoleData.role).innerHTML = fileData;
                      $('#' + div.id).html(render(specificRoleData.role, "svg")); //this renders a role          
                    }
                  });
              });
              })(specificRoleData);
            }
          });
        });
        $('#execute').on('click',function(){
          $.when( $.ajax( "api/results" ) ).then(function( data, textStatus, jqXHR ) {
            var result = data;
            var color = 0

            //get fail states from output.dot...this is what will match the other states to make sure that we get back a valid entry
            //var failStates = result.value.filter(function() { return $(this)})
            for(node in result.value){
              //THE SCOPE should match the role_####
              //scope = role = id
              var realNode = node.match(/name=\"(\w+)\"/)[1];
              var scope = node.match(/scope=\"(\w+)_.*\"/)[1];
              var count = result.value[node].Count
              scopeList.push(scope);

              //get the nodes that match the actual names
              //for realNode, find the nodeInGraph and put it in nodeData
              var nodeInGraph = $("#" + scope + "-content title").filter(function() { return ($(this).text() === realNode) });
              if(nodeInGraph.length > 0 ){
                var nodeInNodeData = nodeData[scope].filter(function(t) { return (t["id"] == realNode)})[0];
                nodeInNodeData["count"] = count;
                nodeInNodeData["graph"] = nodeInGraph;
              } else {
                //this should now be dotId, graphId, count 
                console.error('not added: ', realNode)
              }
            }

            /**
            iterate through node list
            1. start at S0
            2. get all 4 nodes
            2. find all paths that end with this node
            3. for each path, get the previous node and find out how many counts are there.  add that count to the stroke
            */
            scopeList = uniqBy(scopeList, JSON.stringify);
            for(var i = 0; i < scopeList.length; i ++){
              //colorGraph will color the dot output
              console.log('================', scopeList[i])
              colorGraph("S0", scopeList[i]);
              //traverse the graph and find total number of paths
              traverse("S0", "[" + scopeList[i] + "] S0", scopeList[i]);
              traverseVisited("S0", "[" + scopeList[i] + "] S0", scopeList[i]);
            }
            $('#total_passed_paths').html(uniqBy(happyPaths, JSON.stringify).length);
            $('#covered_passed_paths').html(uniqBy(visitedHappyPaths, JSON.stringify).length);
            $('#percent_passed_paths').html(uniqBy(visitedHappyPaths, JSON.stringify).length / uniqBy(happyPaths, JSON.stringify).length * 100);
            $('#total_failed_paths').html(uniqBy(failedPaths, JSON.stringify).length);
            $('#covered_failed_paths').html(uniqBy(visitedFailedPaths, JSON.stringify).length);
            $('#percent_failed_paths').html(uniqBy(visitedFailedPaths, JSON.stringify).length / uniqBy(failedPaths, JSON.stringify).length * 100);
            $('#failed-details').html(uniqBy(visitedFailedPaths, JSON.stringify).join('<br/>'));
            $('#passed-details').html(uniqBy(visitedHappyPaths, JSON.stringify).join('<br/>'));
          });
        });
      });
    </script>
  </body>
</html>